
.left{
    background-color: rgb(59, 59, 255);
    border-radius: 20px;
    color: white;
    font-family: "Gill Sans", sans-serif;
    text-align: left;
    position: absolute;
    width: 30%;
    padding-bottom: 10px;
    margin: 10px 10px 10px 10px;
}
p{
    margin: 10%;
}

h1.hd{
    margin: 10%;
}
img{
    display: inline-block;
    width: 100%;
}
input[type=radio    ], select {
    width: 5%;
    margin: 16px 4px;
    border: 1px solid rgb(32, 16, 16)
    display: inline-block;
    box-sizing: border-box;
  }
input[type=text], select {
    width: 50%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 50%;
    padding: 8px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email], select {
    width: 50%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  

label{
    
    color: rgb(78, 78, 78);
   
}

.review{
    background-color: rgb(24, 24, 209);
    border-radius: 10px;
    position: relative;
    left: 20px;
    width: 90%;
    padding: 10px 10px 0px 10px;
    margin-top: 25%;
    

}

.right{
    position: absolute;
    left: 40%;
    height: 100%;
    font-family: "Gill Sans", sans-serif;
    top: 100px;
    width: 60%
}

